<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <title>Cyber City Comics Library | Stratus360</title>
</head>

<body>
    <header>
        <h2>Cyber City Comics Library</h2>
    </header>

    <section class="buttons">
        <form method="GET" action="/{{previousComic}}">
            <button id="previous-comic-button">
                <i class="fas fa-arrow-left"></i>
            </button>
        </form>

        <form method="GET" action="/{{nextComic}}">
            <button id="next-comic-button">
                <i class="fas fa-arrow-right"></i>
            </button>
        </form>
        <form method="GET" action="/{{randomComic}}">
            <button id="random-comic-button">
                <i class="fas fa-random"></i>
            </button>
        </form>
    </section>

    <main>
        <section class="comic">
            <div class="img-container">
                <img src={{currentComic.img}} alt="{{currentComic.alt}}">
                <p>Comic created on: {{currentComic.day}} {{currentComic.month}} {{currentComic.year}}</p>
            </div>
        </section>
    </main>

    <footer>
        <p>
            Powered by <a href="https://www.stratus360.com/">Stratus360</a>
        </p>

        <div class="links">
            <a href="https://github.com/willvuong">
                <i class="fab fa-github"></i>
            </a>

            <a href="http://www.williamvuong.ca/">
                <i class="fas fa-link"></i>
            </a>
        </div>
    </footer>
    <script src="./public/js/script.js"></script>
</body>

</html>